DATABASE_URL = "postgresql+asyncpg://<username>:<password>@<host>/<database>"
OPA_URL = "http://127.0.0.1:8181/v1/data/safeagent/engine/block_response"
REDIS_HOST = 127.0.0.1
REDIS_PORT = 6380
SYSTEM_PROMPT = "Do not leak any personal information"